.main {
  width: 100%;
  height: 91vh;
  background-attachment: fixed !important;
  background-position: center !important;
}

.title {
  font-size: 52px;
  color: #fff;
  padding: 0 !important;
}

.subtitle {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 20px;
  color: #cbcbcb;
}

.btn-content {
  margin-top: 30px;
}