.header {
  padding: 6px 24px !important;
  background: #23232e !important;
  border-bottom: 1px solid #05050b;

  .title {
    color: rgba(255, 255, 255, 0.65) !important;
  }

  .subtitle {
    color: rgba(225, 225, 225, 0.65) !important;
  }
}