.header {
  padding: 6px 24px !important;
  background: #001529 !important;

  .title {
    color: rgba(255, 255, 255, 0.65) !important;
  }

  .subtitle {
    color: rgba(225, 225, 225, 0.65) !important;
  }
}