body {
  background: #23232e !important;
}

.container {
  width: 100%;
  max-width: 1270px;
  padding: 0 10px;
  margin: 10px auto;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Antd resets style

//SideBar
.ant-menu-vertical .ant-menu-item, .ant-menu-vertical-left .ant-menu-item, .ant-menu-vertical-right .ant-menu-item, .ant-menu-inline .ant-menu-item, .ant-menu-vertical .ant-menu-submenu-title, .ant-menu-vertical-left .ant-menu-submenu-title, .ant-menu-vertical-right .ant-menu-submenu-title, .ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.ant-menu.ant-menu-dark, .ant-menu-dark .ant-menu-sub, .ant-menu.ant-menu-dark .ant-menu-sub {
  background: #30303d !important;
}

//Antd card
.ant-card {
  background: #30303d !important;
}

.ant-card-meta-description {
  color: rgba(255, 255, 255, 0.65) !important;
}

.ant-card-actions {
  background: #30303d !important;
}

.ant-card-bordered {
  border: rgba(255, 255, 255, 0.65) !important;;
}

.ant-card-head-title {
  color: #fff !important;
}

// Divider
.ant-divider-horizontal.ant-divider-with-text {
  font-size: 20px !important;
  color: #cbcbcb !important;
}

// Modal
.ant-modal-content {
  background: #171720 !important;
}

.ant-modal-close {
  color: #cbcbcb !important;
}

.ant-input:hover {
  border-color: rgba(255, 255, 255, 0.65) !important;
}
